{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}

<!-- 
 Juego conceptualizado y diseñado por el dr. Luis Alejandro Palacio García & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en https://racionalidadltda.wordpress.com/

 Código tomado de https://github.com/JefeLitman/emargame 
-->

    <style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');

       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       div.encabezado{
	    color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        padding: 0.008px 5px;
      }

       p {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .otree-timer.alert.alert-warning{
        display: none;
      }

      .col-form-label /*El texto del formulario donde dice DEsea...*/
      {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .input-group-text{ /*puntos*/
       font-family: 'Cabin', sans-serif;
       font-size: 20px;
      }

       .imagen{
      display:block;
      margin:auto;
      }
   </style>

    <div class="encabezado">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Contribución</h2>
                </div>
                <div class="col">
                    <h2> {{ subsession.round_number }} </h2>
                </div>
            </div>
        </div>
    </div>

    <p> 1000 puntos disponibles </p>

    {% formfield player.Contribucion label="Debe decidir con cuántos puntos va a contribuir a la cuenta pública:" %}

    {% if tratamiento %}
        {% if numeroronda >= rondastotales %}
            <img  class="imagen" src = "https://i.imgur.com/UNrN89B.png"/>
        {% else %}
            <img  class="imagen" src = "https://i.imgur.com/BPVJoDb.png"/>
        {% endif %}
    {% else %}
        {% if numeroronda >= rondastotales %}
           <img  class="imagen" src = "https://i.imgur.com/BPVJoDb.png"/>
        {% else %}
            <img class="imagen" src = "https://i.imgur.com/UNrN89B.png"/>
        {% endif %}
    {% endif %}

    <button>
          <b>Siguiente</b>
    </button>

{% endblock %}