{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<!-- 
 Juego conceptualizado y diseñado por el dr. Luis Alejandro Palacio García & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en https://racionalidadltda.wordpress.com/

 Código tomado de https://github.com/JefeLitman/emargame 
-->

    <style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');

       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       div.encabezado{
	    color: white;
        background-color:#243e92;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 0.008px 5px;
      }

       p {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .otree-timer.alert.alert-warning{
        display: none;
      }

      .col-form-label /*El tecxto del formulario donde dice DEsea...*/
      {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      }

      .input-group-text{ /*puntos*/
       font-family: 'Cabin', sans-serif;
       font-size: 20px;
      }
       .imagen{
      display:block;
      margin:auto;
      }
   </style>


    <div class="encabezado"> <h2> Ganancias totales </h2> </div>

    <p> El juego ha terminado. </p>

    <p> Sus puntos acumulados son:{{player.TotalPagos}}</p>

    {% formfield player.Codigo label="Por favor digite su código de estudiante:" %}

    <button>
          <b>Siguiente</b>
    </button>

{% endblock %}