{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<!-- 
 Juego conceptualizado y diseñado por el dr. Luis Alejandro Palacio García & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en https://racionalidadltda.wordpress.com/

 Código tomado de https://github.com/JefeLitman/emargame 
-->

<style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');
       img{
           width: 100%;
           height: 80%;
       }
       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       .otree-timer.alert.alert-warning{
        display: none;
      }
</style>

<style media="screen">
    img{
      width: 100%;
      height: 80%;
    }
    div.boton{
      position: relative;
      left: 80%;
    }
</style>

<img  src = "https://i.imgur.com/WpPlhKM.png"/>

<p> </p>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <span class="navbar-text">
 <p>Juego conceptualizado y diseñado por el Luis Alejandro Palacio García, PhD & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en <a href="https://racionalidadltda.wordpress.com/">https://racionalidadltda.wordpress.com</a></p>
 

 <p>Código tomado de <a href="https://github.com/JefeLitman/emargame">https://github.com/JefeLitman/emargame</a></p>
  </span>
</nav>

{% endblock %}