{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<!-- 
 Juego conceptualizado y diseñado por el dr. Luis Alejandro Palacio García & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en https://racionalidadltda.wordpress.com/

 Código tomado de https://github.com/JefeLitman/emargame 
-->

<style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');
       img{
           width: 100%;
           height: 80%;
       }
       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       .otree-timer.alert.alert-warning{
        display: none;
      }
</style>


<img  src = "https://i.imgur.com/jHiKbFu.png"/>

<p> </p>

    <button>
        Siguiente
    </button>

{% endblock %}