{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<!-- 
 Juego conceptualizado y diseñado por el dr. Luis Alejandro Palacio García & Ferley Rincon
 como parte de la investigación adelantada por el Laboratorio de Economía Experimental del Grupo EMAR
 de la Universidad Industrial de Santander (UIS).
 Más información en https://racionalidadltda.wordpress.com/

 Código tomado de https://github.com/JefeLitman/emargame 
-->

   <style media="screen">
      @import url('https://fonts.googleapis.com/css?family=Cabin');
       img{
           width: 100%;
           height: 80%;
       }
       button{
         background-color: #243e92;
         position: relative;
         color: white;
         font-family: 'Cabin', sans-serif;
         border: none;
         font-size: 20px;
         padding: 8px 20px;
         float: right;
       }

       .otree-timer.alert.alert-warning{
        display: none;
      }
     </style>

    {% if tratamiento %}
        {% if numeroronda == rondastotales %}
            <img  src = "https://i.imgur.com/Si23oTm.png"/>
        {% else %}
            <img  src = "https://i.imgur.com/5Eg5lB3.png"/>
        {% endif %}
    {% else %}
        {% if numeroronda == rondastotales %}
                <img  src = "https://i.imgur.com/TDX4vn8.png"/>
        {% else %}
                <img src="https://i.imgur.com/Q8mer7I.png"/>
        {% endif %}
    {% endif %}

    <button>
        Siguiente
    </button>

{% endblock %}