html,
body {
    height: 100%;
}
.medio {
width: 100%;
max-width: 300px;
padding: 15px;
margin: auto;
}

.tabla-resultados {
    padding: 15px;
    margin: auto;
}

.barra-arriba,
.barra-abajo {
    background-color: gainsboro;
    padding: 10px;
}

.otree-timer {
    display: none;
}

.tiempo-cumplido {
    color: red;
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
  }