{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    
{% endblock %}

{% block content %}

    <div class="container barra-arriba">
        <div class="row">
            <div class="col-8">
                Período: {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </div>
            <div class="col-4">
                <span id="cronometro"></span>
            </div>
        </div>
    </div>

    <div class="medio">
        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    Su dotación:
                </div>
                <div class="col-md-auto">
                    {{ Constants.dotacion }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    {% formfield player.contribucion label="Su contribución al proyecto" %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    {% next_button %} 
                </div>
            </div>       
        </div>       
    </div>

    <div class="container barra-abajo">
        <p>AYUDA:</p>

        <p>Por favor escriba su contribución</p>
        <p>Cuando esté listo por favor haga click en el botón "Siguiente"</p>

    </div>

{% endblock %}

{% block styles %}
    <link href="{% static "global/style.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}

<script src="{% static "global/script.js" %}"></script>

<script type="text/javascript">
    
    window.onload = function() {
      var mostrar = document.querySelector('#cronometro'),
        timer = new CountDownTimer({{ tiempo_de_espera|json }});
    
      timer.onTick(format(mostrar)).start();
    
      function format(display) {
        return function(minutes, seconds) {
            if (seconds == 0) {
                display.classList.add("tiempo-cumplido");
                display.textContent = "!Por favor tome una decisión!";
            }
            else {
                display.textContent = "Tiempo restante [seg]: " + seconds;
            }          
        };
      }
    };
        
    </script>
{% endblock %}