{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}
    <p>Usted está <strong>tomando</strong> parte <strong>en</strong> un experimento económico financiado por varias fundaciones para la 
        investigación. Si lee cuidadosamente las siguientes instrucciones, puede, dependiendo de sus decisiones, ganar una considerable 
        cantidad de dinero. Por lo tanto, es muy importante que lea estas instrucciones con cuidado.</p>
    <p>Estas instrucciones son solamente para su uso privado. <strong>Está prohibido comunicarse con los otros participantes durante el 
        experimento</strong>. Por favor pregúntenos si tiene alguna duda. Si usted viola esta regla, será retirado del experimento y perderá todo lo ganado.</p>
    <p>Durante el experimento no hablaremos en términos de pesos sino en Guilders. Durante el experimento todas sus ganancias serán calculadas en Guilders. 
        Al final del experimento la cantidad total de Guilders que haya ganado será convertida a pesos de la siguiente forma:</p>
    <p class="text-center text-monospace"><strong>1 Guilder = 0,90 COP</strong></p>
    <p>Al final del experimento sus ganancias totales del experimento le serán pagadas en <strong>efectivo</strong> más un pago por su asistencia.</p>
    <p>El experimento está dividido en 10 periodos separados. En cada periodo los participantes están divididos en grupos de 4. 
        Usted por lo tanto estará en un grupo con otros 3 participantes. <strong>La composición de los grupos permanecerá igual para todos los diez períodos</strong>. 
        En las siguientes páginas describiremos el experimento en detalle.</p>
    <h4 class="text-center">Información detallada sobre el experimento</h4>
    <p>Al comienzo de cada período cada participante recibe <strong>20 fichas</strong>. Nosotros lo llamamos su dotación. Su tarea es decidir cómo usar su <strong>dotación</strong>. 
        Usted tiene que decidir cuántas de las 20 fichas usted quiere contribuir a un proyecto y cuántas de ellas quedarse. Las consecuencias de su decisión se 
        explican más adelante. Al comienzo de cada período aparecerá la siguiente pantalla de entrada:</p>
    <h5 class="text-center">Pantalla de entrada.</h5>
    <img src="https://i.imgur.com/DGuRoZx.png" class="mx-auto d-block" alt="Pantalla de entrada.">
    <p>El número del período aparece en la esquina superior izquierda de la pantalla. La esquina superior derecha de la pantalla indica el tiempo disponible en segundos para tomar
         su decisión de contribución. Tendrá 90 segundos en los primeros 2 períodos y 60 segundos en los períodos restantes. Su decisión debe ser tomada dentro del tiempo límite.</p>
    <p><strong>Su dotación en cada período es 20 fichas</strong>. Usted tiene que decidir cuántas fichas quiere contribuir al proyecto, y escribir un número entre 0 y 20 en la casilla que aparece. 
        Tan pronto como haya decidido cuántas fichas contribuir, también usted se queda con: <strong>(20 – su contribución) fichas</strong>. Luego de ingresar su contribución debe hacer clic en el 
        botón Siguiente. Una vez usted haya hecho esto, su decisión no puede ser revisada.</p>
    <p>Una vez todos los miembros de su grupo hayan tomado su decisión, la siguiente pantalla mostrará la contribución total al proyecto por parte de los cuatro miembros del grupo (incluyendo la suya). 
        Esta pantalla también indica su ganancia en Guilders para esta primera etapa.</p>
    <h5 class="text-center">Pantalla de resultados.</h5>
    <img src="https://i.imgur.com/4TPbiuS.png" class="mx-auto d-block" alt="Pantalla de resultados.">
    <p>Su <strong>ingreso</strong> consiste de dos partes:</p>
    <p>(1) las fichas que usted decidió quedarse (“Ingreso por las fichas guardadas”) donde</p>
    <p class="text-center text-monospace"><strong>1 ficha = 1 Guilder</strong></p>
    <p>(2) El “ingreso por el proyecto”. Este ingreso se calcula así:</p>
    <p class="text-center text-monospace"><strong>Su ingreso por el proyecto = 0,4 * contribución total del grupo al proyecto</strong></p>
    <p>Su ingreso en Guilders de un período es, por lo tanto:</p>
    <p class="text-center text-monospace"><strong>(20 – su contribución al proyecto) + 0.4*(contribuciones total del grupo al proyecto)</strong></p>
    <p>El ingreso de cada miembro del grupo por el proyecto se calcula de la misma forma; es decir, cada miembro del grupo recibe el mismo ingreso por el proyecto. 
        Por ejemplo, si la suma de las contribuciones de todos los miembros del grupo es 60 fichas, cada miembro del grupo recibe un ingreso por el proyecto de 0,4*60 = 24 fichas. 
        Si el total de contribuciones al proyecto es 9 fichas, cada uno recibe un ingreso de 0,4*9 = 3,6 fichas por el proyecto.</p>
    <p>Cada ficha con la que usted se queda corresponde a un Guilder de ingreso para usted. Suponga que, al contrario, usted decidió contribuir esta ficha al proyecto, 
        entonces la contribución total al proyecto aumentaría en una ficha. Su ingreso por el proyecto aumentaría en 0,4*1=0,4 fichas. Sin embargo, el ingreso de los otros miembros 
        del grupo también aumentaría en 0,4 fichas cada uno, tal que el ingreso total del grupo por el proyecto aumentaría en 1,6 fichas. Su contribución al proyecto por lo tanto 
        también aumenta el ingreso de los otros miembros del grupo. Por otro lado, usted gana un ingreso por cada ficha contribuida al proyecto por los otros miembros del grupo.
         Por cada ficha contribuida por cualquier miembro usted gana 0,4*1=0,4 fichas.</p>
    <p>Para ver esta pantalla de ingreso, usted tiene 45 segundos en los primeros dos períodos y 30 segundos en los períodos que quedan. 
        Si usted ha terminado antes de que el tiempo se acabe, por favor seleccione "Siguiente".</p>
    <p>A continuación, la pantalla de información aparece, la cual revela las contribuciones de los otros miembros del grupo.</p>
    <h5 class="text-center">Pantalla de Información</h5>
    <img src="https://i.imgur.com/XTUqKqw.png" class="mx-auto d-block" alt="Pantalla de Información">
    <p>Esta pantalla muestra cuánto cada uno de los otros miembros del grupo contribuyó al proyecto. <strong>Su contribución</strong> aparece <strong>en azul en la primera columna</strong>, 
        mientras que las contribuciones de los otros miembros del grupo aparecen en las tres columnas restantes. Por favor note que el orden en que las contribuciones son mostradas 
        cambia aleatoriamente en cada período. La contribución en la segunda columna, por ejemplo, en general corresponde siempre a un miembro diferente del grupo. 
        Lo mismo se sostiene para las contribuciones en las otras columnas. Además de las contribuciones absolutas, también se muestran las contribuciones como un 
        porcentaje de la dotación. ¿Tiene alguna pregunta?</p>
    <p><br></p>
    <p><h4 class="text-center">Preguntas de control:</h4></p>
    <ol>
        <li><p>Cada miembro del grupo tiene una dotación de 20 fichas. Suponga que nadie (incluyéndolo a usted) contribuye fichas al proyecto. ¿Cuál es:</p>
            <p>Su ingreso?......</p>
            <p>El ingreso de los otros miembros del grupo?……</p></li>
        <li><p>Suponga que cada miembro del grupo tiene una dotación de 20 fichas. Suponga que cada uno de los otros miembros del grupo contribuyen 20 fichas al proyecto . ¿Cuál es:</p>
            <p>Su ingreso?......</p>
            <p>El ingreso de los otros miembros del grupo?……</p></li>
        <li><p>Cada miembro del grupo tiene una dotación de 20 fichas. Suponga que los otros tres miembros del grupo contribuyen un total de 30 fichas al proyecto.</p>
            <p>a) ¿cuál es su ingreso si usted contribuye 0 fichas al proyecto?.........</p>
            <p>b) ¿cuál es su ingreso si usted contribuye 15 fichas al proyecto?.......</p></li>
        <li><p>Cada miembro del grupo tiene una dotación de 20 fichas. Suponga que usted contribuyó 8 fichas al proyecto.</p>
            <p>a) ¿cuál es su ingreso si los otros miembros del grupo juntos contribuyen al proyecto un total de 7 fichas?..........</p>
            <p>b) ¿cuál es su ingreso si los otros miembros del grupo juntos contribuyen un total de 22 fichas al proyecto?.........</p></li>
    </ol>

    <div class="container barra-abajo font-weight-light">
            <p>Aviso:</p>
        
            <p>Tanto las instrucciones como el diseño de este experimento son tomadas de: 
                <a class="font-italic" href="http://science.sciencemag.org/content/319/5868/1362.short">Herrmann, B., Thöni, C., & Gächter, S. (2008). Antisocial punishment across societies</a>
                con el permiso de los autores, y se presenta con exclusivos fines académicos.</p>
            <p>Nos pueden contactar en: <a href="mailto:datamental@unab.edu.co">datamental@unab.edu.co</a></p>
        
    </div>
    {% next_button %}

{% endblock %}

{% block styles %}
    <link href="{% static "global/style.css" %}" rel="stylesheet">
{% endblock %}