{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    
{% endblock %}

{% block content %}

    <div class="container barra-arriba">
        <div class="row">
            <div class="col-8">
                Período: {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </div>
            <div class="col-4">
                Tiempo restante [seg]: <span id="cronometro"></span>
            </div>
        </div>
    </div>
    
    <div class="tabla-resultados">
        <div class="container">
            <div class="row">
                <div class="col-4">Dotación</div>
                <div class="col" style="color:blue">{{ Constants.dotacion }}</div>
                {% for p in player.get_others_in_group %}
                    <div class="col">{{ Constants.dotacion }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-4">Contribución al proyecto</div>
                <div class="col" style="color:blue">{{ player.contribucion }}</div>
                {% for p in player.get_others_in_group %}
                    <div class="col">{{ p.contribucion }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-4">Contribución como % de la dotación</div>
                <div class="col" style="color:blue">{{ porcentaje_de_jugador }}</div>
                {% for p in porcentaje_de_otros_jugadores %}
                    <div class="col">{{ p }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% next_button %}

    <div class="container barra-abajo">
        <p>AYUDA:</p>
        
        <p>Aquí puede ver las decisiones de los otros participantes. Cuando esté listo para continuar por favor presione el botón.</p>
        
    </div>

{% endblock %}

{% block styles %}
  <link href="{% static "global/style.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}

<script src="{% static "global/script.js" %}"></script>

<script type="text/javascript">

window.onload = function() {
  var mostrar = document.querySelector('#cronometro'),
    timer = new CountDownTimer({{ tiempo_de_espera|json }});

  timer.onTick(format(mostrar)).start();

  function format(display) {
    return function(minutes, seconds) {
      display.textContent = seconds;
    };
  }
};
    
</script>
{% endblock %}