{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    
{% endblock %}

{% block content %}

    <div class="container barra-arriba">
        <div class="row">
            <div class="col-8">
                Período: {{ subsession.round_number }} de {{ Constants.num_rounds }}
            </div>
            <div class="col-4">
                Tiempo restante [seg]: <span id="cronometro"></span>
            </div>
        </div>
    </div>

    <div class="tabla-resultados">
        <div class="container">
            <div class="row">
                <div class="col">Su contribución al proyecto</div>
                <div class="col">{{ player.contribucion }}</div>
            </div>
            <div class="row">
                <div class="col">Suma de las contribuciones</div>
                <div class="col">{{ group.contribucion_total }}</div>
            </div>
            <div class="row">
                <div class="col"><br></div>
            </div>
            <div class="row">
                <div class="col">Ingreso por las fichas retenidas</div>
                <div class="col">{{ ingreso_por_fichas_retenidas }}</div>
            </div>
            <div class="row">
                <div class="col">Ingreso por el proyecto</div>
                <div class="col">{{ group.ingreso_individual }}</div>
            </div>
            <div class="row">
                <div class="col">Su Ingreso total en este período</div>
                <div class="col">{{ player.payoff }}</div>
            </div>
            <div class="row">
                <div class="col"><br></div>
            </div>
            <div class="row">
                <div class="col">Su Ingreso total incluyendo este período</div>
                <div class="col">{{ participant.payoff }}</div>
            </div>      
        </div>
    </div>

    
    {% next_button %}

    <div class="container barra-abajo">
        <p>AYUDA:</p>
    
        <p>En esta pantalla se presentan los resultados de este período.</p>
        <p>Luego de que el tiempo se haya acabado o usted haya hecho click en el botón, el experimento continúa.</p>
    
    </div>


{% endblock %}

{% block styles %}
    <link href="{% static "global/style.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}

<script src="{% static "global/script.js" %}"></script>

<script type="text/javascript">
    window.onload = function() {
      var mostrar = document.querySelector('#cronometro'),
        timer = new CountDownTimer({{ tiempo_de_espera|json }});
    
      timer.onTick(format(mostrar)).start();
    
      function format(display) {
        return function(minutes, seconds) {
          display.textContent = seconds;
        };
      }
    };
        
    </script>
{% endblock %}